$neutrals-000: #ffffff;

$neutrals-100: #eef2f6;

$neutrals-200: #cbcfd3;

$neutrals-300: #b1b4b8;

$neutrals-400: #868b8f;

$neutrals-500: #737679;

$neutrals-600: #505254;

$neutrals-700: #414344;

$neutrals-800: #2f3032;

$neutrals-900: #101011;

$neutrals-1000: #000000;
