$primary-100: #e7f3ff;

$primary-200: #b2d8ff;

$primary-300: #8fc8ff;

$primary-400: #80c0ff;

$primary-500: #1e90ff;

$primary-600: #136fc8;

$primary-700: #115597;

$primary-800: #0b3965;

$primary-900: #072e54;
