$secondary-100: #fef4cd;

$secondary-200: #fdeeb5;

$secondary-300: #fbe384;

$secondary-400: #f9d753;

$secondary-500: #facc15;

$secondary-600: #c19e10;

$secondary-700: #b09010;

$secondary-800: #937912;

$secondary-900: #75600e;
